.clients {
  margin-top: 50px;
  padding-left: 0;
  display: flex;
  gap: 30px;
}

.client {
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: solid 1px $social-media-icon;
    border-radius: 4px;
    fill: $social-media-icon;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover {
    border-color: $main-theme-color;
    fill: $main-theme-color;
  }
}
