.footer {
    background-color: $hero-background-color;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;

    &__adress{
        min-width: 230px;;
    }
}

.info {
    display: flex;
    align-items: baseline;

    &__adress{
        padding-left: 0px;        
    }

    &__item:not(:last-child) {
        margin-bottom: 8px;
    }
    
   
    &__item--style {
        margin-top: 20px;
        color: $main-body-color;
        font-style: normal;
        font-weight: $main-font-weight;
        font-size: 14px;
        line-height: 1.17em;
        letter-spacing: 0.03em;
    }

    &__link:hover {
        color: $main-theme-color;
        
    }
}

.icon{
    
    &--bottom{
    display: inline-block;
    margin-bottom:20px;
}

    &--below{
    color: $main-body-color;
}
}

.footersubadress {
    color: $footer-contacts-color;
    font-style: normal;
    font-weight: $main-font-weight;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.footer-social{
    margin-left: 70px;

    &__caption{
        color: $main-body-color;
        font-weight: $bold-weight;
        font-size: 14px;
        line-height: 1.14em;
        letter-spacing: 0.03;
        text-transform: uppercase;
        margin:0;
    }
   
}

.socials--down {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: $main-body-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1); ;

    &:hover {
        background-color: $main-theme-color;
        fill: $main-body-color;
    }
}

