.page-header {
  border-bottom: 1px solid $header-bottom-line;

  & .container {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__navigation {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }
}

.site-nav {
  display: flex;
  padding: 0;
  gap: 50px;

  .active {
    color: $main-theme-color;
  }

  &__link {
    color: $main-font-color;
    font-weight: $irregular-font-weight;
    font-size: 14px;
    line-height: 1.15em;
    letter-spacing: 0.02em;
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;

    &:hover {
      color: $main-theme-color;
    }
  }
}

.active {
  position: relative;

  &::after {
    position: absolute;
    top: 71px;
    left: 0;
    display: inline-block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $main-theme-color;
  }
}

.adress {
  margin-left: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 50px;
  }

  .adress__link {
    display: flex;
    align-items: center;
    padding: 0;
    color: $subfont-color;
    font-weight: $irregular-font-weight;
    font-size: 14px;
    line-height: 1.15em;
    letter-spacing: 0.02em;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: $subfont-color;

    @media screen and (min-width: 1200px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    &:hover,
    &:focus {
      color: $main-theme-color;
      fill: $main-theme-color;
    }
  }

  .adress__svg {
    margin-right: 10px;
  }
}

.active {
  fill: $main-theme-color;
  color: $main-theme-color;
}
