header {
  width: 100%;
  border-bottom: 1px solid $header-bottom-line;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.page-header {
  display: flex;
  align-items: center;

  @media screen and (max-width: 480px) {
    padding: 0 15px;
    height: 60px;
  }

  @media screen and (max-width: 768px) {
    padding: 17px 0;
  }

  @media screen and (max-width: 1200px) {
    padding: 24px 0 25px;
  }
}

.site-nav {
  display: flex;
  padding: 0;
  gap: 50px;

  .active {
    color: $main-theme-color;
  }

  .link {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__link {
    color: $main-font-color;
    font-weight: $irregular-font-weight;
    font-size: 14px;
    line-height: 1.15em;
    letter-spacing: 0.02em;
    padding-top: 30px;
    padding-bottom: 30px;

    &:hover {
      color: $main-theme-color;
    }
  }
}

.active {
  position: relative;

  &::after {
    position: absolute;
    top: 71px;
    left: 0;
    display: inline-block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $main-theme-color;
  }
}

.adress {
  display: flex;
  margin-left: auto;
  padding: 0;
  gap: 50px;

  .adress__link {
    display: flex;
    align-items: center;
    padding: 0;
    color: $subfont-color;
    font-weight: $irregular-font-weight;
    font-size: 14px;
    line-height: 1.15em;
    letter-spacing: 0.02em;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: $subfont-color;
    padding-top: 30px;
    padding-bottom: 30px;

    &:hover,
    &:focus {
      color: $main-theme-color;
      fill: $main-theme-color;
    }
  }

  .adress__svg {
    margin-right: 10px;
  }
}

.active {
  fill: $main-theme-color;
  color: $main-theme-color;
}
