.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &--hero {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, $hero-gradient, $hero-gradient),
      url(../../images/hero.jpg);
    background-color: $hero-background-color;
    max-width: 1600px;
    max-height: 600px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  // width: 1200px;
  padding-left: 15px;
  padding-right: 15px;


  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

   @media screen and (min-width: 768px) {
    max-width: 768px;
  }

   @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.hero {
  margin-top: 0;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  &__heading {
    text-align: center;
    margin: 0;
    width: 696px;
    color: $main-body-color;
    font-style: normal;
    font-weight: $bold-caption;
    font-size: 44px;
    line-height: 1.36em;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
  }

  &__button {
    border: none;
    border-radius: 4px;
    min-width: 216px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
    background-color: $main-theme-color;
    color: $main-body-color;
    font-weight: $bold-weight;
    font-size: 16px;
    line-height: 1.18em;
    letter-spacing: 0.06em;
    cursor: pointer;
  }
}
