.icon {
  margin: 0;
  font-family: "Raleway";
  font-weight: $bold-weight;
  font-size: 24px;
  line-height: 1.16em;
  letter-spacing: 0.03em;
  color: $main-theme-color;

  &--top-space {
    @media screen and (min-width: 768px) {
      margin-right: 92px;
    }
  }

  &--above-color {
    color: $web-element-black;
  }
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.19em;
  }
}
