.section--team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 15px;
  background-color: $filter-button-bckground;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
}

.members {
  display: flex;
  padding: 0;
  gap: 30px;
  flex-direction: column;
  flex-wrap: nowrap;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  @media screen and(min-width:1200px) {
  }
}

.member {
  background-color: $main-body-color;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;

  &__pic {
    display: block;
  }

  &__data {
    padding-top: 30px;
  }

  &__name {
    margin: 0;
    font-weight: $irregular-font-weight;
    font-size: 16px;
    line-height: 1.18em;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__position {
    margin: 10px 0 0 0;
    font-size: 16px;
    line-height: 1.18em;
    text-align: center;
    letter-spacing: 0.03em;
    color: $subfont-color;
  }
}

.socials {
  display: flex;
  margin-top: 16px;
  padding-left: 0;
  justify-content: center;
  gap: 10px;

  &__icon {
    fill: $social-media-icon;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
  }

  &__icon:hover {
    fill: $main-body-color;
    background-color: $main-theme-color;
    border-radius: 50%;
  }

  &__contact {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
