
// $main-body-color: #FFFFFF;
// $main-theme-color: #2196F3;
// $main-theme-overlay: #2196f3e6;
// $hero-background-color: #2F303A;
// $main-font-color: #212121;
// $subfont-color: #757575;
// $footer-contacts-color: rgba(255, 255, 255, 0.6);
// $filter-button-bckground: #F5F4FA;
// $web-element-black: #000000;
// $header-bottom-line: #ECECEC;
// $social-media-icon: #AFB1B8;
// $hero-gradient: rgba(47, 48, 58, 0.4);
// $backdrop: rgba(0, 0, 0, 0.2);
